.header
{
    height: 60px;
    display: flex;
    align-items: center;
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 100;
    text-decoration: none;
    justify-content: space-between;

}

.header__search
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

}


.logo__header
{
   width: 150px;
   height: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-left: 3px;
}

.header_search_input
{
    height: 10px;
    width: 30%;
    padding: 10px;
    border: none;
}




.header__nav
{
    display: flex;
    justify-content: space-evenly;
}

.header__option
{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    color: black;
}

.header__optionLineOne
{
    font-size: 12px;
}
.header__optionLineTwo
{
    font-size: 16px;
    font-weight: 800;
    color: black
    ;
    
}



